<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <img src="/assets/icons/pokemon-logo-small.webp" width="165" height="64" alt="Pokemon Logo">
    </mat-drawer>
    <mat-drawer-content>
        <h2>Pokedex</h2>
    </mat-drawer-content>
</mat-drawer-container>
<mat-drawer-container class="example-container1">
    <mat-drawer mode="side" opened>

    </mat-drawer>
    <mat-drawer-content class="second-content" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
        <div class="example-card" *ngFor='let result of results; let i=index'>
            <div class="example-card-inner1"><img src="{{result.image}}" /></div>
            <div class="example-card-inner2">
                #{{i+1}} : {{result.name}}
                <br/>
                <br/>
                <button class="button-chip" *ngFor='let ty of result.type;'>{{ty}}</button>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>